.txthead {
    font-size: 26px;
}

.dislayout {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-top: 55px;
}

.disModal {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 100px;
}

.active {
    border: 1px solid #52c41a;
    padding: 3px 6px;
    border-radius: 5px;
    background: #52c41a;
    color: #fff;
}

.inactive {
    border: 1px solid #f5222d;
    padding: 3px 6px;
    border-radius: 5px;
    background: #f5222d;
    color: #fff;
}

.font20 {
    font-size: 20px;
}

.pd10 {
    padding: 10px;
}

/* @media (min-width: 576px) */
.ant-col .ant-form-item-control .ant-col-xs-12 .ant-col-sm-16 {
    max-width: 100% !important;
}

.fildLeft {
    flex-direction: column;
    align-items: flex-start;
}